body {
}


#resultStats p 
{
    text-align:center;
}

#searchActor div p
{
    
    text-align:center
}

#searchActor div img
{
    width: 180px;
    height: 220px;
    padding: 10px 10px 1px 10px;

}

#searchActor div
{
    display : inline-block;
    padding: 3px;
}

#next
{
    float:right;
}

#previous
{
    float:left;
}

.btnheight{
    height:40px;   
}






