body {
}
body {
    background-image:url(../Images/Grey-background-for-site11.jpg);
}


#container
{
    position:relative;
    left:16px;
	margin: 0 auto;
	bottom:40px;
	width:60%;
    padding:10px;
}

#search
{   
    float:right;
    width: 300px;
}


#footer p {
    margin: 0px;
    padding: 2% 0 1% 0;
    text-align: center;
    line-height: normal;
    font-family: Harrington
}

#movieImage 
{   
    
    
    top:40px;       
    float:right; 
    padding-top:15px;
}

#movieImage img
{
    
   height:160px;
    width:160px;
    opacity: 0.6;
        
}
#header div
{
	display:inline-block;
	
}

#header
{
	position:relative;
    height:200px;
	  width: 85%;
}

#siteName{    
   float:left;   
   position:relative;
   top:50px;
   left:8px;
   font-size:300%;   
   opacity: .5;
   font-family:Harrington;
   

}

.mainContainer{
    width:60%;
    height:50%;
}

.jumbotron {
    opacity: .5;
}