
#tvshowsData div
{
    display : inline-block;
    padding: 0px;
    position:relative;
    bottom:0px;
    left:16px;
    width:20%;
    
}

#tvshowsData div img
{
    width: 70%;
    height: 70%;
    margin-bottom:10px;
    padding: 5px 5px 5px 5px;
}

#tvshowsData
{
    width:100.5%;
    background-color:white;
}